projects_dir=${HOME}/projects
pytest_glue_dir=${projects_dir}/pytest-aws-glue-pyspark
export WORKSPACE_LOCATION=${pytest_glue_dir}/
export SCRIPT_FILE_NAME=sample.py
export PROFILE_NAME=dataeng-test
export JUPYTER_WORKSPACE_LOCATION=${pytest_glue_dir}/jupyter_workspace/

