export WORKSPACE_LOCATION=${HOME}/projects/personal/pytest-aws-glue-pyspark/
export SCRIPT_FILE_NAME=sample.py
export PROFILE_NAME=dataeng-test
export JUPYTER_WORKSPACE_LOCATION=${HOME}/projects/personal/pytest-aws-glue-pyspark/jupyter_workspace/

